name: Infinite Debug Shell

on:
  workflow_dispatch:

jobs:
  debug:
    runs-on: ubuntu-22.04
    timeout-minutes: 360

    steps:
      - name: Start Tmate
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true

      - name: Keep alive
        run: |
          echo "Session will auto-expire at 6h"
          sleep 21600
